
body {
    background-color:#000000;
}

#logo{
    /* To play around, change this to absolute */
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px;
    margin: 20px;
}

#legend{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    padding: 5px;
    margin: 20px;
    outline: 2px lightgray;
    text-shadow: darkgray;
    color: lightgray;
}

model-viewer {
    --poster-color: transparent;
  }

  
#greetings{
    position: fixed;
    top: 0px;
    right: 40px;
    z-index: 1;
    padding: 5px;
    margin: 5px;
    outline: 2px lightgray;
    text-shadow: darkgray;
    color: lightgray;
    font-size: 30px;
    font-family: "Mr Dafoe";
}
#title {
    font-size: 60px;
}